<div class="hero min-h-screen" style="background-image: url(https://images.adsttc.com/media/images/5f35/9efe/b357/657e/fc00/0072/large_jpg/Lagos_Nigeria.jpg?1597349616);">
  <div class="hero-overlay bg-opacity-70"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello Prince</h1>
      <p class="mb-5">Welcome to the Royal Task Manager, designed exclusively for His Royal Highness, Prince Adebayo of Nigeria. Take control of your tasks and manage your kingdom with the precision and speed that only a digital solution can offer.</p>
      <button routerLink="/todo" class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
