<nav>
  <div class="navbar bg-base-100">
    <div class="flex-1">
       <span class="font-bold text-xl ml-2">The Royal ToDo List</span>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 sm:w-auto" />
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://img.asmedia.epimg.net/resizer/v2/6CQXL3TSGJIKJOBGRX72PYMEZA.jpg?auth=d94e2fbf189eb57554a1d2598380884fd2dfd430b0c2f01eca82782f4ca51f86&width=1472&height=828&smart=true" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
